@media (max-width: 980px) {
    .header {
        .logo {
            font-size: 20px;
            line-height: 24px;
        }
        .promo {
            &__inner {
                gap: 15px;
            }

            &__content {
                margin-right: 20px;
                max-width: 400px;
            }
        }
    }
}

@media (max-width: 760px) {
    .header {
        &__top {
            margin-bottom: 20px;
        }
        .promo {
            &__inner {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &__content {
                max-width: 90%;
                padding-top: 40px;
                display: flex;
                flex-direction: column;
                padding-bottom: 40px;
                &-title {
                    text-align: center;
                }
                &-btn {
                    width: 218px;
                    margin: 0 auto;
                }

            }

            &__media {
                &-img {
                    max-width: 70%;
                    margin: 0 auto;
                }
            }
            
        }
    }
}

@media (max-width: 650px) {
    
}